footer {
  background: $hoverColor;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 30px 0px;
}

.footer__list,
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer__contacts {
  gap: 32px;
}

.footer__btn {
  width: 270px;
  height: 42px;
  background: #ff9619;
  color: $secondaryColor;
  border: 1px solid transparent;
  transition: 0.4s;
}

.footer__btn:hover {
  background: $secondaryColor;
  border-color: #ff9619;
  color: #ff9619;
}

.footer__smm {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__item {
  color: $secondaryColor;
  transition: 0.3s;
}

.footer__top {
  align-items: start;
  padding: 30px 0px;
}

.footer__bottom {
  align-items: center;
  text-align: center;
}

.footer__bottom__item {
  color: $secondaryColor;
  transition: 0.3s;
}

.footer__bottom__item:hover,.footer__item:hover{
    color: #ff9619;
}

@media (max-width: 970px) {
  .footer__top {
    flex-wrap: wrap;
    gap: 50px;
  }
  .footer__logo {
    width: 100%;
  }
  .footer__list {
    width: 45%;
  }
  .footer__contacts {
    width: 80%;
  }
  .footer__btn {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .footer__list {
    width: 100%;
  }
  .footer__contacts {
    width: 100%;
  }
}
